#border {
  border-style: solid;
  border-width: 3px 3px 3px 3px;
  margin-left: 250px;
  margin-right: 250px;
  margin-bottom: 0px;

  text-align: center;
  background-color: #acedfb;
}

#save {
  font-family: 'Georgia', serif;
}

#successModal {
  background-color: #90ee90;
  color: black;
}

#errorModal {
  background-color: #dc143c;
  color: black;
}

.btn {
  font-family: Sans-serif;
  background-color: #b79bd2;
}

#hd {
  text-align: center;
  font-family: 'Comic Sans MS', cursive, sans-serif;
}

.hdg {
  background-color: #dbcb78;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  font-family: 'Georgia', serif;
}

.mod {
  border: 2px solid black;
  margin-left: 250px;
  margin-right: 250px;
  background-color: white;
}

.hd {
  background-color: #dbcb78;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
}

.hdd {
  margin-left: -250px;
}
