<div>
  <div>
    <div [ngSwitch]="account !== null">
      <div *ngSwitchCase="true">
        <jhi-pay-gov></jhi-pay-gov>
      </div>
    </div>

    <div [ngSwitch]="account === null">
      <div *ngSwitchCase="true">
        <div class="logo-paygov"></div>

        <div class="center">
          <button type="submit" class="btn btn-primary btn-sm" class="button mybtn" (click)="login()">
            &nbsp;&nbsp;&nbsp;&nbsp; <fa-icon icon="sign-in-alt"></fa-icon>&nbsp;&nbsp;&nbsp;
            <span>sign in</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
